.chat {
  position: absolute;
  background-color: white;
  width: calc(100% - 250px);
  height: calc(100% - 100px);
  overflow-y: scroll;
}

.message {
  display: block;
  line-height: 20px;
  background-color: pink;
  border: 1 px solid;
  border-radius: 12px;
  padding: 5px 10px 5px 10px;
  margin: 5px;
  max-width: 60%;
  clear: both;
}

.other {
  float: right;
  background-color: #00b0ff;
  color: white;
}

.mine {
  background-color: #eceff1;
  float: left;
}

.new-message {
  position: absolute;
  bottom: 0;
  width: calc(100% - 250px) !important;
  border-radius: 0 !important;
  border: 0 !important;
  height: 50px !important;
}

.timestamp {
  font-size: x-small;
  line-height: normal;
  opacity: 0.7;
}

.loader {
  height: 2px;
  width: 80%;
  background-color: #00b0ff;
  animation: prog 1s linear infinite;
}

@keyframes prog {
  0% { width: 0; }
  100% { width: 100%; }
}
