.chat {
  position: absolute;
  background-color: white;
  width: calc(100% - 250px);
  height: calc(100% - 86px);
  overflow-y: scroll;
}

.message {
  display: block;
  line-height: 20px;
  background-color: pink;
  border: 1 px solid;
  border-radius: 12px;
  padding: 5px 10px 5px 10px;
  margin: 5px;
  max-width: 50%;
  clear: both;
}

.other {
  float: right;
  background-color: #00b0ff;
  color: white;
}

.mine {
  background-color: #eceff1;
  float: left;
}
