#sidenav-wrapper {
  z-index: 10;
  position: absolute;
  height: 100%;
  width: 250px;
  overflow-y: hidden;
  background-color: #f8f8f8;
  border: 1px solid;
  border-color: #e7e7e7;
}

#content-wrapper {
  z-index: 0;
  width: 100%;
  padding-left: 250px;
  height: 100%;
  bottom: 20px;
}

#wrapper.menuDisplayed #sidenav-wrapper{
  width: 250px;
}

#wrapper.menuDisplayed #content-wrapper{
  padding-left: 250px;
}

.sidenav {
  list-style: none;
  padding: 0;
}

.sidenav li {
  text-indent: 20px;
  line-height: 40px;
  border-bottom: 1px solid;
  border-color: #e7e7e7;
}

.link {
  color: black;
  display: block;
  text-decoration: none;
}

.link:hover {
  background-color: #e6e6e6;
  text-decoration: none;
  color: black;
}
